# Thư viện chính
binance==0.3.0
flask==2.3.3
numpy==1.24.3
openai==1.3.0
pandas==2.0.3
plotly==5.18.0
psutil==5.9.5
PySocks==1.7.1
python-binance==1.0.19
python-socks==2.3.1
pytz==2023.3
requests==2.31.0
scikit-learn==1.3.0
socks==0
streamlit==1.26.0
tensorflow==2.13.0
twilio==8.5.0

# Thư viện hỗ trợ
aiohttp==3.8.5
beautifulsoup4==4.12.2
ccxt==3.1.54
colorlog==6.7.0
httpx==0.24.1
ipython==8.15.0
joblib==1.3.2
matplotlib==3.7.2
pymongo==4.5.0
pytest==7.4.0
python-dotenv==1.0.0
PyYAML==6.0.1
scipy==1.11.2
seaborn==0.12.2
SQLAlchemy==2.0.20
ta-lib==0.4.28
tqdm==4.66.1
websocket-client==1.6.3

# Thư viện cho đồ thị và hiển thị
altair==5.0.1
blinker==1.6.2
cachetools==5.3.1
ipywidgets==8.1.0
pydeck==0.8.0
regex==2023.8.8
rich==13.5.2
tenacity==8.2.3
toml==0.10.2
tornado==6.3.3
watchdog==3.0.0

# Thư viện xử lý lỗi và gỡ lỗi
astor==0.8.1
backoff==2.2.1
decorator==5.1.1
jedi==0.19.0
loguru==0.7.0
retrying==1.3.4
sentry-sdk==1.30.0